bidict==0.23.1
blinker==1.8.2
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
cryptography==42.0.7
flash==1.0.3
Flask==3.0.3
Flask-SocketIO==5.3.6
gunicorn==22.0.0
h11==0.14.0
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==2.1.5
numpy==1.26.4
opencv-python-headless==4.9.0.80  # Use headless version for compatibility with Heroku
packaging==24.0
pdf2image==1.17.0
pdfminer.six==20231228
pdfplumber==0.11.0
pillow==10.3.0
pycparser==2.22
PyMuPDF==1.24.3
PyPDF2==3.0.1
PyPDF4==1.27.0
pypdfium2==4.30.0
pytesseract==0.3.10
python-engineio==4.9.1
python-socketio==5.11.2
simple-websocket==1.0.0
watchdog==4.0.0
Werkzeug==3.0.3
wsproto==1.2.0
