<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Processed Files</title>
</head>
<body>
    <h1>Processed Files</h1>
    <ul>
        {% for pdf_base_name, filenames in processed_files.items() %}
        <li>{{ pdf_base_name }}:
            <ul>
                {% for filename in filenames %}
                <li><a href="{{ url_for('serve_processed_file', filename=filename) }}">{{ filename }}</a></li>
                {% endfor %}
            </ul>
        </li>
        {% endfor %}
    </ul>
</body>
</html>
