<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Processed Files</title>
</head>
<body>
    <h1>Processed Files</h1>
    {% if processed_files %}
        <ul>
            {% for pdf_base_name, files in processed_files.items() %}
                <li>{{ pdf_base_name }}
                    <ul>
                        {% for file in files %}
                            <li><a href="{{ url_for('serve_processed_file', filename=file) }}">{{ file }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No processed files found.</p>
    {% endif %}
</body>
</html>
